<hr>
<strong>{{ trans("HeidelpayMGW::translation.transferTo") }}</strong>
<div class="row">
    <strong class="col-xs-6 col-sm-5">{{ trans("HeidelpayMGW::translation.iban") }}</strong>
    <span class="col-xs-6 col-sm-7">{{iban}}</span>
</div>
<div class="row">
    <strong class="col-xs-6 col-sm-5">{{ trans("HeidelpayMGW::translation.bic") }}</strong>
    <span class="col-xs-6 col-sm-7">{{bic}}</span>
</div>
<div class="row">
    <strong class="col-xs-6 col-sm-5">{{ trans("HeidelpayMGW::translation.holder") }}</strong>
    <span class="col-xs-6 col-sm-7">{{holder}}</span>
</div>
<div class="row">
    <strong class="col-xs-6 col-sm-5">{{ trans("HeidelpayMGW::translation.shortId") }}</strong>
    <span class="col-xs-6 col-sm-7">{{shortId}}</span>
</div>