<div tabindex="-1" role="dialog" id="heidelpaySepaDirectDebitModal" class="modal fade" style="z-index:1071;display:none;">
    <div role="document" class="modal-dialog">
        <div class="modal-content" id="heidelpaySepaDirectDebitModalContent">
            <div class="modal-header">
                <button type="button" aria-label="Close" class="close" onclick="closeHeidelpaySepaDirectDebitModal(true);">
                    <span aria-hidden="true">×</span>
                </button> 
                <h4 class="modal-title">{{ trans("HeidelpayMGW::Frontend.sepaDirectDebitModalTitle") }}</h4>
            </div> 
            <div class="modal-body" id="heidelpaySepaDirectDebitModalBody">
                <div id="heidelpay-sepa-direct-debit-form" class="heidelpayUI form" novalidate>
                    <div class="field" id="sepaDirectDebitMandateText">
                        <h3>{{ trans("HeidelpayMGW::Frontend.sepaDirectDebitMandateTitle") }}</h3><br />
                        {{ trans("HeidelpayMGW::Frontend.sepaDirectDebitMandateText1") }}<br /><br />
                        {{ trans("HeidelpayMGW::Frontend.sepaDirectDebitMandateText2") }}<br /><br />
                        {{ trans("HeidelpayMGW::Frontend.sepaDirectDebitMandateText3") }}
                    </div>
                    <div> 
                        <input type="checkbox" id="SepaDirectDebitMandate" name="SepaDirectDebitMandate" style="-webkit-appearance:checkbox;">
                        <label for="SepaDirectDebitMandate" name="SepaDirectDebitMandate" style="padding-left:5px;">I agree</label>
                    </div>
                    <div id="sepa-direct-debit-IBAN" class="field">
                        <!-- The IBAN field UI Element will be inserted here -->
                    </div>
                    <div class="field">
                        <button id="heidelpaySepaDirectDebitSubmit" class="heidelpayUI primary button fluid">
                            <i id="sepaDirectDebitModalPayButtonArrow" aria-hidden="true"></i>
                            {{ trans("HeidelpayMGW::Frontend.sepaDirectDebitModalPay") }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
document.getElementById('sepaDirectDebitMandateText').innerHTML = document.getElementById('sepaDirectDebitMandateText').innerHTML.replace(/\{NAME OF MERCHANT\}/g, '<b>{{companyName}}<\/b>');

function closeHeidelpaySepaDirectDebitModal(selfClose) {
    if (selfClose) {
        document.getElementById('checkoutButtonHeidelpay').disabled = false;
        document.getElementById('checkoutButtonHeidelpayArrow').className = 'fa fa-arrow-right';
    }

    document.body.classList = 'page-checkout page-category category- no-touch';
    if (document.getElementById("modalFadeBackground")) {
        document.body.removeChild(document.getElementById("modalFadeBackground"));
    }

    document.getElementById("heidelpaySepaDirectDebitModal").className = "modal fade";
    document.getElementById("heidelpaySepaDirectDebitModal").style.display = "none";

    for (let child of document.getElementById("sepa-direct-debit-IBAN").childNodes) {
        document.getElementById("sepa-direct-debit-IBAN").removeChild(child);
    }
}

function showHeidelpaySepaDirectDebitModal() {
    document.getElementById('checkoutButtonHeidelpay').disabled = true;
    document.getElementById('checkoutButtonHeidelpayArrow').className = 'fa fa-circle-o-notch fa-spin';

    let elem = document.createElement('div');
    elem.setAttribute("id", "modalFadeBackground");
    elem.className = "modal-backdrop fade in show";
    document.body.appendChild(elem);
    document.body.classList = 'page-checkout page-category category- no-touch modal-open';

    document.getElementById("heidelpaySepaDirectDebitModal").className = "modal fade in show";
    document.getElementById("heidelpaySepaDirectDebitModal").style.display = "block";
}
</script>